<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
      <%= button_to 'Add to Cart', line_items_path(product_id: product),
        remote: true %>
       <h4>product rating</h4> 
       <h6><%= avg_rating(product.id) %></h6>
       <% if current_user %>

       <%if given_review(product.id, current_user) %>
        <h5><%= button_to 'Add a review', line_items_review_path(product_id: product.id)%></h5> 
        <% end %>
        <% if added_wishlist(product.id,current_user) %>
        <%= button_to 'Add to wishlist', wishlists_path(product_id: product) %>
        <% end %>
        <% end %>
<!-- END_HIGHLIGHT -->
    </div>
  </div>
<% end %>
